/* src\pages\MainPage\MainPage.module.css */
/* #style .page-container - Displays content using all the screen size */
.page-container{
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
  padding: 0;
  margin: 0;
}
/* #end-style */
/* #style header */
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  padding: 5px 10px;
}
/* #end-style */
/* #style .header-logo */
.header-logo > img{
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
/* #end-style */
/* #style .header-buttons */
.header-buttons{
  display: flex;
  gap: 10px;
  align-items: center;
}
/* #end-style */
/* #style .tabs-container */
.tabs-container{
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 1.2rem;
}
/* #end-style */
/* #style .tab */
.tab{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
  flex: 1;
  color: black;
  transition: border .5s ease;

  &:hover:not(.active) {
    border-bottom: thin solid black;
  }
  
  &.active {
    color:whitesmoke;
    background-color: #1d4ed8;
    border-radius: 12px;
  }
}
/* #end-style */